{#Created and styled by Yaryna Korduba#}
{% extends 'ressourcenpool/base.html' %}
{% load static %}

{% block content %}
    <div class="text__container">
    <h2>Wer steckt hinter dem Ressourcenpool Bamberg?</h2>
<p>Der Ressourcenpool Bamberg ist ein Projekt der CariThek Bamberg, einer Vermittlungsstelle für
freiwilliges Engagement. Unser Ziel ist es freiwilliges, bürgerschaftliches Engagement zu befördern.
Dafür bringen wir Menschen und Organisationen entsprechend ihrer Interessen und Kompetenzen
zusammen. Wir stoßen Projekte an, die auf gemeinnütziges Engagement von Menschen und
    Organisationen setzen und wir machen Öffentlichkeitsarbeit.</p>
<p>Der AStA Bamberg e.V. ist ein gemeinnütziger Verein, dessen Zweck in der ideellen und finanziellen
Förderung der Arbeit der Studierendenvertretung der Otto-Friedrich-Universität Bamberg in
ausgewählten Projekten, von Wissenschaft und Bildung sowie der kulturellen, politischen und
sozialen Belange der Studierenden liegt. Immer mit dem Ziel, Menschen in ihrer Entwicklung zu
eigenverantwortlichen Persönlichkeiten und Mitgliedern ihrer Gesellschaft(en) zu unterstützen.
kontakt – Das Kulturprojekt ist eine Projektgruppe des AStA Bamberg e.V. und plant, organisiert und
realisiert Veranstaltungen auf ehrenamtlicher Basis. Alle Aktionen sind unkommerziell ausgerichtet
und dienen der Verwirklichung der Grundideen unserer Arbeit:
<br/>• die Stadt mit innovativer und junger Kunst und Kultur zu beleben
<br/>• über das Medium Kunst „kontakt“ zwischen Menschen herzustellen
<br/>• den Zugang zu Kunst und Kultur unabhängig vom sozioökonomischen Status der oder des
Einzelnen zu ermöglichen
<br/>• die Augen für die Potentiale und Möglichkeiten der Stadt zu öffnen und Ideen aktiv
    umzusetzen</p>
<p>Um die Vernetzung und den Austausch von materiellen und immateriellen Ressourcen weiter zu
fördern, wurde die Idee zu einer Online-Plattform zum Leihen von und für gemeinwohlorientiere
Organisationen geboren.
Dafür gewann die CariThek Bamberg mit dem AStA und dem kontakt den Bayerischen
    Innovationspreis Ehrenamt 2018.</p>
    </div>
{% endblock %}
